<div class="header py-7 py-lg-8" style="background-image: url(assets/img/federico-beccari.jpg); background-size: cover;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-2"></span>
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Signup now and book your dream holiday!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h3 *ngIf="error">{{error}}</h3>
            <small>sign up with credentials</small>
          </div>
          <form role="form" (ngSubmit)="register(f)" #f="ngForm">
            <div ngModelGroup="userData">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input required class="form-control" placeholder="First Name" type="text" name="first_name" [(ngModel)]="user.first_name">
              </div>
            </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input required class="form-control" placeholder="Last Name" type="text" name="last_name" [(ngModel)]="user.last_name">
                </div>
              </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input required class="form-control" placeholder="User Name" type="text" name="username" [(ngModel)]="user.username">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email" id="email" name="email" [(ngModel)]="user.email"
                       required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                       #email="ngModel">
              </div>
              <div *ngIf="!email.valid && email.dirty" id="emailValidate">
                Invalid email
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input required class="form-control" placeholder="Password" type="password" name="password" [(ngModel)]="user.password">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" [disabled]="!f.valid">Create account</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
