<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/fabio-mangione.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-4"></span>
  <!-- Header container -->
  <div class="container">
  <div class="header-body text-center mb-7">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-6">
        <h1 class="display-1 text-white">Holidays Bookings</h1>
        <p class="text-white mt-1 mb-5">Affordable holiday Packages for Everyone</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid mt--7">
  <div class="row">


    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0" *ngFor="let group of packages; let i = index">
<!--   ONLY TOP 3 Packages will display in Home page, UMAR   -->
      <div class="card card-profile shadow" *ngIf="i<3">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="../../{{group.package.image_url}}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Book</a>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">2</span>
                  <span class="description">Days</span>
                </div>
                <div>
                  <span class="heading">3</span>
                  <span class="description">Nights</span>
                </div>
                <div>
                  <span class="heading">1</span>
                  <span class="description">Guests</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{group.package.name.toUpperCase()}}<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{group.destination.join(", ").toUpperCase()}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Package Type - {{group.package.package_type.toUpperCase()}}
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>{{group.package.description}}
            </div>
            <hr class="my-4" />
                      <h3>${{group.price}}</h3>
            <!--            <a href="javascript:void(0)">Show more</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
