<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">

</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-12 order-xl-12 mb-12 mb-xl-10">
      <div class="card card-profile shadow">
        <div class="row justify-content-left">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="#">
                <img src="../../{{booking.package.package.image_url}}" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{booking.bookingRef}}</span>
                  <span class="description">Booking Reference Number</span>
                </div>
                <div>
                  <span class="heading">{{booking.bookingStatus}}</span>
                  <span class="description">Status</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              Package name: {{booking.package.package.name.toUpperCase()}}<span class="font-weight-light"></span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Destination: {{booking.package.destination.join(", ").toUpperCase()}}
            </div>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Package price: ${{booking.package.price}}
            </div>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Departure: {{booking.departureDate}} - Duration: {{booking.duration}}
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Username: {{booking.user.username}} - Email: {{booking.user.email}}
            </div>
            <div>
              <i class="ni education_hat mr-2" *ngFor="let p of booking.travelers, let i=index">Guest {{i+1}}: {{p.name}}</i>
            </div>
            <hr class="my-4"/>
            <h3>Total Price: ${{booking.totalPrice.$numberDecimal}}</h3>
            <!--            <a href="javascript:void(0)">Show more</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
